<!DOCTYPE html>
<html lang="en">
<head>

    @await Component.InvokeAsync("LayoutSettings", @ViewData["Title"])

    @RenderSection("Tags", required: false)

    
    @RenderSection("MyStyles", required: false)
</head>
<body>
    
    
            @RenderBody()
    @RenderSection("Scripts", required: false)

</body>
</html>
