@model PatrickWebsiteCore.Data.HomePage;

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-type" content="text/html;">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<title>@Model.SiteTitle</title>
<meta name="description" content="@Model.SiteDescription">
<meta name="keywords" content="Painter, Melbourne, patrick painting">
<meta name="author" content="Patrick Parsian">

<link rel="shortcut icon" href="@Model.FavIconURL" type="image/jpg">
<meta name="robots" content="index, follow" />
<link rel="canonical" href="@Model.OgSiteURL" />

<meta property="og:title" content="@Model.OgTitle" />
<meta property="og:type" content="@Model.OgType" />
<meta property="og:image" content="@Model.OgImageURL" />
<meta property="og:url" content="@Model.OgSiteURL" />